@model MySite.Models.Movie

@{
    ViewData["Title"] = Model.title;
}

@section Styles {
    <link rel="stylesheet" href="~/css/movieDetails.css" />
}

<div class="movie-details">
    
    <div class="movie-poster">
        @if (!string.IsNullOrEmpty(Model.movie_img))
        {
            <img src="@Url.Content("~/images/" + Model.movie_img)" alt="Постер" />
        }
        else
        {
            <span>Немає зображення</span>
        }
    </div>

    <div class="movie-info">
        <h1 class="title">@Model.title</h1>
        <p><strong>Duration: </strong>@Model.movie_time хв</p>
        <p><strong>Description: </strong>@Model.description</p>
        <p><strong>Release date: </strong>@Model.release_date</p>
        <p><strong>Genre: </strong>@string.Join(", ", Model.MovieGenres.Select(mg => mg.Genre.name))</p>
        <p><strong>Кількість користувачів, які додали цей фільм в обране:</strong> @ViewBag.FavoritesCount</p>
    </div>

    <form method="post" action="@Url.Action("AddToFavorites", "Movies")" id="addToFavoritesForm">
        <input type="hidden" name="movieId" value="@Model.Id" />
        <button type="submit" id="favoriteButton" @(ViewBag.IsFavorite ? "disabled" : "")>
            @(ViewBag.IsFavorite ? "Уже в обраному" : "Додати в обране")
        </button>
    </form>

    @section Scripts {
        <script>
            document.getElementById("addToFavoritesForm").addEventListener("submit", function (event) {
                // Перевіряємо, чи користувач увійшов
                var user = '@Context.Session.GetString("User")';

                if (!user) {
                    // Якщо користувач не увійшов, скасовуємо відправку форми
                    event.preventDefault();
                    alert("Будь ласка, увійдіть, щоб додати фільм в обране.");
                }
            });

            document.addEventListener("DOMContentLoaded", function () {
                var favoriteButton = document.getElementById("favoriteButton");

                if (favoriteButton && favoriteButton.disabled) {
                    favoriteButton.style.backgroundColor = "#ccc"; // Неактивна кнопка
                    favoriteButton.style.cursor = "default";
                }
            });
        </script>
    }
</div>
